<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
       <form method="POST" oninput="resultado.value=parseInt(valor1.value)+parseInt(valor2.value)">
    <input type="number" id="valor1" value="0"> +
    <input type="number" id="valor2" value="0"> =
    <output name="resultado" for="valor1 valor2"></output>
	</form>

       <form method="POST" oninput="resultado.value=parseInt(valor3.value)-parseInt(valor4.value)">
    <input type="number" id="valor3" value="0"> -
    <input type="number" id="valor4" value="0"> =
    <output name="resultado" for="valor3 valor4"></output>
    </form>

         <form method="POST" oninput="resultado.value=parseInt(valor5.value)*parseInt(valor6.value)">
    <input type="number" id="valor5" value="0"> *
    <input type="number" id="valor6" value="0"> =
    <output name="resultado" for="valor5 valor6"></output>
    </form>

         <form method="POST" oninput="resultado.value=parseInt(valor7.value)/parseInt(valor8.value)">
    <input type="number" id="valor7" value="0"> /
    <input type="number" id="valor8" value="0"> =
    <output name="resultado" for="valor7 valor8"></output>
	</form>
    </body>
</html>